@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@200;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@200;400&display=swap');


:root
{
    --morado: #7e0f92;
    --moradoOscuro: #6f0681;
    --amarilloOscuro: #ffce00;
    --amarillo: rgb(233, 287,2);
    --blanco: #fff;
    --negro: #000;
    --azulOscuro: rgb(17,17,27);
    --fuente1: 'Encode', sans-serif;
    --fuente2: 'Encode Sans', sans-serif;;
    
}

*
{
    box-sizing: border-box;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family:  var(--fuente1);
}

html
{
    font-size: 62.5%;
}

body
{
    background-color: var(--morado);
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

p
{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
    margin-top: 2.5rem;
}

a
{
    text-decoration: none;
}

img
{
    max-width: 100vh;
    width: 40vh;
   
}

.contenedor
{
    max-width: 120rem;
    margin: 0 auto;
}

h1, h2, h3
{
    text-align: center;
    color: var(--amarilloOscuro);
    margin-top: 2.5rem;
}

h1 
{font-size: 4rem;}

h2
{font-size: 3.2rem;}

h3
{font-size: 2.4rem;}


/*
---------------------------------------------------------------------------------------
                Header
---------------------------------------------------------------------------------------
*/

.header
{
    display: flex;
    justify-content: center;
}

.header a
{
    width: 28%;
    margin: 3rem;
}

/*
---------------------------------------------------------------------------------------
                Nav
---------------------------------------------------------------------------------------
*/

.nav
{
    background-color: var(--moradoOscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.nav__enlace
{
    font-family: var(--fuente2);
    color: var(--blanco);
}

.nav__enlace--activo,
.nav__enlace:hover
{
    color: var(--amarilloOscuro);
    transition: 1s;
}



/*
---------------------------------------------------------------------------------------
                Main
---------------------------------------------------------------------------------------
*/

.contenedor h1
{
    color: var(--amarilloOscuro);
}


/*
---------------------------------------------------------------------------------------
                Grid
---------------------------------------------------------------------------------------
*/

.grid
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}




/*
---------------------------------------------------------------------------------------
                Productos
---------------------------------------------------------------------------------------
*/

.producto
{
    background-color: var(--moradoOscuro);
    padding: 1.5rem;
}

.producto__imagen
{
    width: 100%;
}

.producto__nombre
{
    font-size: 2.8rem;
}

.producto__precio
{
    font-size: 2.3rem;
    color: var(--amarilloOscuro);
}

.producto__nombre,
.producto__precio
{
    font-family: var(--fuente2);
    margin: 1.5rem;
    text-align: center;
    line-height: 1.5;
}

/*
---------------------------------------------------------------------------------------
                Graficos
---------------------------------------------------------------------------------------
*/

.grafico
{
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.grafico--casco1
{
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    background-image: url(../img/casco1.jpg);
    
    
}

.grafico--casco2
{
    grid-row: 4 / 5;
    grid-column: 2 / 4;
    background-image: url(../img/casco2.png);
    display: center center;
}



/*
---------------------------------------------------------------------------------------
                nosotros
---------------------------------------------------------------------------------------
*/

.nosotros
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    margin: 0 5rem;
}

.nosotros__imagen
{
    border-radius: 8vh;
}


/*
--------------------Redes-----------------------------------------------------------------      
*/

.bloques
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    
}

.bloque
{
    text-align: center;
}

.bloque .img__logo
{
    width: 10rem;
    height: 10rem;
}






/*
---------------------------------------------------------------------------------------
                Footer
---------------------------------------------------------------------------------------
*/

.footer
{
    background-color: var(--moradoOscuro);
    padding: 0 1rem;
    margin: 5rem .8rem .8rem .8rem;
    border-radius: 12rem;
}

.footer__texto
{
    font-family: var(--fuente2);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffffa8;
}




































/*
---------------------------------------------------------------------------------------
                Responsive
---------------------------------------------------------------------------------------
*/

@media (max-width: 700px) { 
    



/*
---------------------------------------------------------------------------------------
                Header
---------------------------------------------------------------------------------------
*/

.header
{
    display: flex;
    justify-content: start;
    padding-left: 4rem;
    
}

.header a
{
    width: 28%;
    margin: 3rem;
}    

/*
---------------------------------------------------------------------------------------
                Grid
---------------------------------------------------------------------------------------
*/

.grid
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


/*
---------------------------------------------------------------------------------------
                Graficos
---------------------------------------------------------------------------------------
*/

.grafico
{
    grid-column: 1 / 3;
}

.grafico--casco1
{
    grid-row: 2 / 3;
    
}

.grafico--casco2
{
    grid-row: 7 / 8;
}


/*
---------------------------------------------------------------------------------------
                nosotros
---------------------------------------------------------------------------------------
*/

.nosotros
{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5rem;
    
}

.nosotros__imagen
{
    grid-row: 1 ;
}


/*
--------------------Redes-----------------------------------------------------------------      
*/

.bloques
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 1rem;
}

.bloque
{
    text-align: center;
}

.bloque .img__logo
{
    width: 10rem;
    height: 10rem;
}



}